<input type="text" placeholder="Rechercher un joueur" class="input-searchbar" [(ngModel)]="searchText">

<div *ngFor="let player of filterPlayers()" (click)="showPlayerById(player.id)">
  <div class="block">
    <div class="block-image">
      <div *ngIf="player.firstname">
        <div class="flex-mobile">
          <img src="{{player.picture}}" class="pictures-home">
          <h2 class="name-players mobile-only">{{player.firstname}} {{player.lastname}}</h2>
        </div>
      </div>
    </div>

    <div class="block-informations desktop-only">
      <h2 class="name-players">{{player.firstname}} {{player.lastname}}</h2>
      <div class="block-score">
          <div>
            <h2 class="title-score">RANK</h2>
            <p class="informations">#{{player.data.rank}}</p>
          </div>
          <div>
            <h2 class="title-score">POINT</h2>
            <p class="informations">{{player.data.points}}</p>
          </div>
          <div>
            <h2 class="title-score">COUNTRY</h2>
            <p class="informations">{{player.country.name}}</p>
          </div>
      </div>
    </div>
  </div>
  <div class="block-informations mobile-only">
    <div class="block-score">
      <div>
        <h2 class="title-score">RANK</h2>
        <p class="informations">#{{player.data.rank}}</p>
      </div>
      <div>
        <h2 class="title-score">POINT</h2>
        <p class="informations">{{player.data.points}}</p>
      </div>
      <div>
        <h2 class="title-score">COUNTRY</h2>
        <p class="informations">{{player.country.name}}</p>
      </div>
    </div>
  </div>
</div>

<form (ngSubmit)="submitQuiz()" class="form">
  <h2>Evaluez vos compétences en tennis</h2>
  <div *ngFor="let question of questions">
    <h3>{{ question.text }}</h3>
    <div *ngFor="let answer of question.answers">
      <input type="radio" name="{{ question.id }}" [value]="answer.id" [(ngModel)]="selectedAnswers[question.id]">
      {{ answer.text }}
    </div>
  </div>
  <button type="submit" class="button-form">Soumettre</button>
</form>

<div *ngIf="isCardVisible && selectedPlayer" >



  <div class="content-card">
    <div class="content-button">
      <button (click)="closePlayerById()" class="button-card">
        <img src="assets/cross.png" alt="croix" class="cross">
      </button>
    </div>
    <div class="card">
      <div class="country">
        <img src="{{selectedPlayer.country.picture}}" alt="{{selectedPlayer.country}}" class="flag">
        <p class="country-code">{{selectedPlayer.country.code}}</p>
      </div>

      <div class="title-card">
        <h2 class="firstname">{{selectedPlayer.firstname}} </h2>
        <h2 class="lastname">{{selectedPlayer.lastname}}</h2>
      </div>

      <img src="{{selectedPlayer.picture}}" alt="{{selectedPlayer.firstname}}" class="pictures">
      <div class="first-inrmations">
        <div class="block-i">
          <p class="title-score">RANK</p>
          <p class="informations">#{{selectedPlayer.data.rank}}</p>
        </div>
        <div class="block-i">
          <p class="title-score">POINTS</p>
          <p class="informations">{{selectedPlayer.data.points}}</p>
        </div>
        <div class="block-i">
          <p class="title-score">COUNTRY</p>
          <p class="informations">{{selectedPlayer.country.name}}</p>
        </div>
      </div>

      <div class="second-informations">
        <div class="block-i">
          <p class="title-score">Weight</p>
          <p class="informations">{{selectedPlayer.data.weight}}</p>
        </div>

        <div class="block-i">
          <p class="title-score">Age</p>
          <p class="informations">{{selectedPlayer.data.age}}</p>
        </div>

        <div class="block-i">
          <p class="title-score">Height</p>
          <p class="informations">{{selectedPlayer.data.height}}</p>
        </div>
      </div>

    </div>
  </div>



</div>


